.Swap{
    font-size: medium;
    align-items: center;
    color:rgba(255, 255, 255, 0.525)
}

.Trading{
    font-size: medium;
    align-items: center;
    color:rgba(255, 255, 255, 0.525)
}
.Port{
    font-size: medium;
    align-items: center;
    color:rgba(255, 255, 255, 0.525)
}
.Ref{
    font-size: medium;
    align-items: center;
    color:rgba(255, 255, 255, 0.525)
}